@font-face {
    font-family: 'blueberryregular';
    src: url('../webfontkit-20220418-012618/blueberry_-webfont.woff2') format('woff2'),
         url('../webfontkit-20220418-012618/blueberry_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
    font-family: 'blueberryregular';
    overflow-x: hidden;
}

.landing{
    display: flex;
    flex-direction: column;
}

.slide1{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    z-index: 1;
}

.logo img{
    height: 700px;
    width: 700px;
    margin: -8% 0 0 100%;

}

.tagline{
    color: white;
    margin: 8% 0 0 -25%;
    font-size: 50px;
    line-height: 0.30em;
    letter-spacing: 0.11em;
}

.tagline #p3{
    font-size: 1.23em;
}
.btn-1 {
    color: white;
    background-color: #F96303;
    border-radius: 100px;
    height: 63px;
    padding: 8px 25px;
    font-family: 'Blueberry', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.55em;
    margin: 31% 0 0 -339px;
} 

.slide2{
    height: 100vh;
    color: white;
    z-index: 2;
}

.book{
    transform: translate(32em, 5em);
}

.book img{
    height: 9em;
}

.fwd-arr{
    transform: translate(34em, -16.5em);
}

.bwd-arr{
    transform: translate(34em, -42.8em);
}


.leaf {
    transform: translate(56.5em, -66.7em);
}

.leaf img{
    height: 6em;
}
.l1{
        transform: translate(29%, -27em);
        color: white;
        font-size: 2.2em;
        letter-spacing: 0.15em;
}

.l2{
    transform: translate(27%, -30em);
    color: white;
    font-size: 2.2em;
    letter-spacing: 0.15em;
}

.btn-2 {
    color: white;
    background-color: #F96303;
    border-radius: 100px;
    height: 63px;
    padding: 8px 30px;
    font-family: 'Blueberry', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.9em;
    transform: translate(80%, -35em);
} 

.leaf2 img{
    height: 3em;
    transform: translate(70.55em, -65em);
}

.book2 img{
    height: 3em;
    transform: rotate(7deg) translate(63.75em, -80em);
}

.slide3{
    height: 100vh;
    color: white;
    z-index: 3;
}

.bookshelf{
    transform: translate(21em, 1em);
}
.bookshelf img{
    height: 21em;
}

.fwd-arr1{
    transform: translate(44em, -13em);
}

.fwd-arr1 img{
    transform: rotate(270deg);
    height: 11em;
}

.monitor{
    transform: translate(57em, -28.5em);
}

.monitor img{
    height: 19em;
}

.s3-l1{
    transform: translate(28%, -15em);
    color: white;
    font-size: 1.9em;
    letter-spacing: 0.15em;
    line-height: 0%;
}

.umbrella{
    transform: translate(66em, -32.25em);
}
.umbrella img{
    height: 3.5em;
}
.s3-l2{
    transform: translate(30%, -17.5em);
    color: white;
    font-size: 1.9em;
    letter-spacing: 0.15em;
}

.btn-3 {
    color: white;
    background-color: #F96303;
    border-radius: 100px;
    height: 63px;
    padding: 8px 30px;
    font-family: 'Blueberry', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.9em;
    transform: translate(174%, -20em);
} 

.logo2{
    transform: translate(64em, -38.5em);
}

.logo2 img{
    height: 7em;
}

.slide4{
    height: 100vh;
    color: white;
    z-index: 4;
}

.exchange{
    transform: translate(32em, 1em);
}

.s4-l1{
    font-size: 1.9em;
    transform: translate(16em, -1.5em);
    color: white;
    letter-spacing: 0.15em;
}

.find{
    transform: translate(61em, -8.5em);
}

.find img{
    height: 4em;
}

.s4-l2{
    font-size: 1.9em;
    transform: translate(17em, -5em);
    color: white;
    letter-spacing: 0.15em;
}

.handshake{
    transform: translate(59em, -15em);
}

.handshake img{
    height: 4em;
    transform: rotate(270deg);
}

.btn-4 {
    color: white;
    background-color: #F96303;
    border-radius: 100px;
    height: 63px;
    padding: 8px 65px;
    font-family: 'Blueberry', sans-serif;
    letter-spacing: 0.1em;
    font-size: 1.9em;
    transform: translate(180%, -7em);
}



.slide5{
    height: 100vh;
    z-index: 5;
}
@media (max-width:450px) {
    .slide1 {
        display: inline-block;
        justify-content: center;
    }

    .logo img {
        height: 75vh;
        width: 75vw;
        margin: -40% 13%;
    }

    .tagline {
        margin: -10% -35% 0 27%;
        font-size: 35px;
    }
    
.btn-1 {
    font-size: 1.4em; 
    margin: 31% -59px 0 64px;
}
}

@media (min-width:451px) and (max-width:950px) {
    .slide1 {
        display: inline-block;
        justify-content: center;
    }

    .logo img {
        height: 75vh;
        width: 75vw;
        margin: -40% 13%;
    }

    .tagline {
            margin: 30% 0 0 45%;
    font-size: 40px;
    }
    
.btn-1 {
    font-size: 1.4em; 
    margin: 25% 0 0 45%;
}
}